#first{
    width: 100vw;
    height: 100vh;
    background-color: #d79fac;
    }

#second{
    width: 100vw;
    height: 100vh;
    background-color: black;
    }

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

p{
    padding: 0 10vw;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }

h1{
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }
span{
    color: white;
    }