@media screen and (max-width: 480px){
    header, .box2{
        width: 100vw;
        height: 20vh;
    }

    .box1{
        width: 100vw;
        height: 60vh;

    }
    .flex{
        flex-direction: column;
    }
}
