body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    height: 40vh;
    background-color: #d8d8d8;
}

.box1{
    width: 70vw;
    height: 60vh;
    background-color: #c5c5c5;
}

.box2{
    width: 30vw;
    height: 60vh;
    background-color: #adadad;
}

p{
    font-size: 5vh;
}